.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: grey;
}

.cabecalho h1{
    margin: 0;
    font-size: 1.4em;
}

.cabecalho a{
    background-color: rgb(179, 15, 15);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}

.conteudo{
    padding: 15px;
    height: 100%;
}