.header{
    display: flex;
    align-items: center;

    color: white;
    background-color: rgb(36, 49, 124);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 35px;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}